* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 'PT Sans', sans-serif;
}

@media (min-width: 600px) {
    html { font-size: 16px; }
}

@media (min-width: 1024px) {
    html { font-size: 18px; }
}

@media (min-width: 1600px) {
    html { font-size: 20px; }
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    max-width: 1300px;
    margin: 1rem auto;
}

/* --Header Begin-- */

.site-header {
    padding: 0rem 0rem 1rem 0rem;
}

.site-header .cursive {
    font-family: 'Merienda One', cursive;
    font-style: italic;
    font-size: 26px;
    color: rgb(48, 48, 128);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.72);
}

 .home-page {
    font-family: 'Merienda One', cursive;
    color: black;
    font-style: italic;
    font-size: 26px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.72);
    text-decoration: none;
}

.site-nav ul {
    margin: 0;
    display: flex;
}

.site-nav li {
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
}

.site-nav a {
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    color: rgb(48, 48, 128);
    text-decoration: none;
    outline: none;
}

.site-nav a:focus,
.site-nav a:hover {
    color: #FFF;
    background: rgb(181, 218, 243);
}

.site-nav a:focus {
    text-decoration: underline;
}

.site-header .wrapper {
    max-width: initial;
    display: flex;
    align-items: center;
    padding: 0 2em;
}

.site-header nav {
    margin-left: auto;
}

/* ---Main Begin--- */

.site-main .main-image {
    background: url(../shot-by-cerqueira-XTKjhfE-Inc-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.box-in-box::after {
    content: '';
    display: block;
    width: 350px;
    height: 130px;
    background: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 16rem;
    left: 47.5rem;
    z-index: -1;
    box-shadow: 10px 11px 12px -8px rgba(0,0,0,0.75);
}

.box-in-box {
    position: relative;
    color: #fff;
    font-family: 'Merienda One', cursive;
    font-style: italic;
    font-size: 24px;  
    padding: 16.5rem 0rem 8rem 49.5rem;
    z-index: 1;
}
/* ---Main Text Begin--- */

.main-quote {
    font-family: 'Merienda One', cursive;
    color: black;
    font-style: italic;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.72);
    padding: 1rem 0rem 1rem 0rem;
    margin-left: 25rem;
}

.main-text .author {
    font-family: 'Merienda One', cursive;
    color: black;
    font-style: italic;
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.72);
    margin-left: 40rem;
    padding: 0rem 0rem 1rem 0rem;
}

.text-container:after {
    content:'';
    display: inline-block;
    width: 1000px;
    height: 320px;
    background: url(../pulse1withBounder.jpg) no-repeat;
    position: absolute;
    top: 35rem;
    z-index: -1;  
}

.text-container p {
    margin: 1.6rem 0rem 0.5rem 0rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

/* ---Main Form Begin--- */

.form {
    padding: 0.2rem 0rem;
    text-align: center;
    background: rgb(69, 69, 69);
    color: #fff;
}

.form .form-title:after {
    content: '';
    width: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    display: block;
}

.form .small-text {
    font-size: 12px;
    padding: 0.5rem 0rem;
}

.form .form-input {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 40%;
}

.form .form-input .mail {
    background: rgb(84, 90, 94);
    border-radius: 0.3rem;
    border: none;
    flex-grow: 1;
    margin-right:0.5rem; 
    padding: 0.1rem 0.4rem;
}

.form a {
    text-decoration: none;
    color: #fff;
    background: rgb(107, 191, 255);
    border: 1px solid rgb(107, 191, 255);
    border-radius: 0.3rem;
    padding: 0.1rem 1rem;
}

/* ---Main Form End--- */

/* --Footer-Begin-- */

.footer-flex {
    display: flex;
    justify-content: space-around;
    background:rgb(47, 53, 57);
    color: #fff;
    padding: 0.5rem 0rem;
}

.end {
    background: rgb(38, 43, 47);
    text-align: center;
    display: block;
    color: #fff;
    padding: 0.5rem 0rem;
    font-size: 12px;
}

.site-footer li {
    list-style: none outside;
    font-size: 12px;
}

.site-footer li a {
    text-decoration: none;
    color: #fff;
}

.third .last-ul {
    display: flex;
    margin: 0.5rem;
}

.third li:nth-child(1):before { 
    content: '\f39e';
    font-family:'Font Awesome 5 Brands';
    font-weight: bold;
    display: inline-block;
    padding: 0.3rem;

}

.third li:nth-child(2):before { 
    content: '\f099';
    font-family:'Font Awesome 5 Brands';
    font-weight: bold;
    display: inline-block;
    padding: 0.3rem;
}

.third li:nth-child(3):before { 
    content: '\f09b';
    font-family:'Font Awesome 5 Brands';
    font-weight: bold;
    display: inline-block;
    padding: 0.3rem;
}

.quick-link,
.address,
.icons {
    font-size: 18px;
}

/* --Footer-End-- */