ul.methods-list {
    padding: 0 0 2em 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.methods-list li {
    flex: 0 0 48%;
    display: block;
    list-style: none outside;
    text-align: center;
    margin-bottom: 3.5em;
}

@media (min-width: 900px) {
    ul.methods-list li {
        flex: 0 0 30%;
    }
}

.method {
    border: 2px solid rgb(10, 53, 70);
    border-radius: 0.3em;
    background: rgb(209, 224, 241);
    font: var(--methods-p-font, 14px/1.2 'Quicksand', sans-serif);
    padding: 0rem 0.5rem 1rem 0.5rem;
}

.method h3 {
    font: 18px/1.5 var(--font-family-headings, 'Verdana', sans-serif);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.72);
    color:  rgb(34, 53, 61);
    letter-spacing: 0.1em;
}

.hidden {
    display: none;
}

.method p {
    display: none;
    padding-bottom: 1rem;
}

.method p:first-of-type {
    display: block;
}

.method .button .less {
    display: none;
}

input:checked + .method p {
    display: block;
    
}

input:checked + .method .button .more {
    display: none;
}

input:checked + .method .button .less {
    display: inline;
}

.more,
.less {
    border: 2px solid rgb(10, 53, 70);
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.more:hover,
.less:hover {
    border: 2px solid rgb(10, 53, 70); 
    color: rgb(209, 224, 241);
    background:rgb(10, 53, 70); 
    border-radius: 0.3em;
}


    