.gallery {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;

    @include bp(phone) {
        grid-template-columns: 1fr;
    }

    // @include bp(mobile) {
    //     grid-template-columns:  1fr 1fr;
    // }
    

    li {
        display: block;
        list-style: none outside;
        position: relative;
        overflow: hidden;

        &:before {
            display: block;
            content: '';
            padding-top: 100%;
        }
        
        &.portrait {
           grid-row: 2;
           
           &:before {
                padding-top: 137%;
            }
        }

        &.landscape {
    
            &:before {
                padding-top: 80%;
            }
        }
    }

    a {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
    }

    img {
        display: block;
        width: 300px;
        height: auto;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.5rem;
        border: 2px solid black;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        cursor: pointer;
    }

    img:hover {
        opacity: 0.5;
    }
   
}
