/* --Header Begin-- */

.site-header {
    padding: 0rem 0rem 1rem 0rem;
    position: relative;
    z-index: 2000;
}

.site-header .cursive {
    font-family: var(--font-family-headings, 'Shrikhand', cursive);
    font-style: italic;
    font-size: 30px;
    color: rgb(10, 53, 70);
    text-shadow: 1px 1px 2px rgba(2, 2, 2, 0.72);
}

.home-page {
    font-family: var(--font-family-headings, 'Shrikhand', cursive);
    color: rgb(66, 65, 65);
    font-style: italic;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.72);
    text-decoration: none;
}

/* --Header End-- */

.site-header .wrapper {

    @include bp(desktop) {
        display: flex;
        padding: 0 2em;
    }
    
    @include bp(mobile) {
        text-align: center;
        padding: 0 5em;   

        label.nav-toggle-label {
            display: block;
        }

    }
}

.site-nav {
    
    @include bp(mobile) {
        display: none;
    }
}

ul {
    margin: 0;
    
    li {
        display: block;
        list-style: none outside;
        position: relative;

        &:hover > ul {
            display: block;
        }
    }

    ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        
        a {
            border:2px solid rgb(10, 53, 70);
            border-radius: 0.5rem;
            margin-top: 0.3rem;
        }
    }
}

.site-nav > ul {

    @include bp(desktop) {
        display: flex;
    }
}

.site-nav a {
    display: block;
    padding: 0.3em 0.8em;
    border-radius: 0.2em;
    color: rgb(6, 30, 39);
    text-decoration: none;
    outline: none;
}

.site-nav ul li:hover > a,
.site-nav a:focus,
.site-nav a:hover {
    color: #FFF;
    background: rgb(10, 53, 70);
}

.site-header .nav {
    margin-left: auto;
}

.nav-toggle {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    &:checked + .site .site-header .site-nav {

        @include bp(mobile) {
            display: block;
            text-align: center;
        }

        .nav-toggle-label .fas fa-bars {
            margin-left: 3rem;
        }
    }

    &-label {
        @include bp(desktop) {
            display: none;
        }

    }
}