.picture {
    display: block;
    width: 20em;
    margin: 0 auto;
    margin-bottom: 1em;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.2em 0.5rem 0 rgba(0,0,0,0.3);
}

.picture:before,
.picture:after {
    display: block;
    content:'';
}
 
.picture:before {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    box-shadow: 0 0 0 6px rgba(255,255,255,0.5) inset;
    z-index: 10;
    pointer-events: none; 
}

.picture:after {
    padding-top: 40%;  
}

.picture img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 0%;
    transform: translateY(-50%);
    z-index: 5;
}

