.section {
    padding-left: 2em;
    padding-right: 2em;
}

.section-header:after {
    display: block;
    content: '';
    width: 8em;
    height: 2px;
    background: rgb(24, 3, 73);
    margin: 1em auto 2em auto;
}

h2 {
    text-align: center;
    padding-bottom: 0.5rem;
    font: 26px/1.5 var(--font-family-headings, 'Verdana', sans-serif);
    /* font-family: 'Shrikhand', cursive; */
    color:  rgb(63, 44, 107);
}
