.grid {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
    align-content: space-between;
    position: relative;

    @include bp(phone) {
        grid-template-columns: 1fr;
    }

    @include bp(mobile) {
        grid-template-columns: 1fr;
    }

    .fas {
        display: block;
        font-weight: bold;
        font-size: 30px;
        color: black;
        margin: 1.5rem;
    }

    p {
        display: block;
        grid-column: 1/-1;
        font: 14px/3 var(--font-family-headings, 'Quicksands', sans-serif);
        margin-left: 4rem;
        
        @include bp(mobile) {
            font: 14px/1.5 var(--font-family-headings, 'Quicksands', sans-serif);
            padding-left: 1em;
            margin: 0;
        }

    }

    p:before {
        display: block;
        content: '';
        background-image: url(../images/roman-mager-5mZ_M06Fc9g-unsplash.jpg);
        background-size: cover;
        z-index: -5;
        width: var(--layout-width, 1300px);
        height: 25em;
        position: absolute;
        top: 0%; left: 0%; right: 0; bottom: 0;
        opacity: 0.1;
        border-radius: 0.5rem;
        box-shadow:  rgba(153, 151, 151, 0.6);
        border: 2px solid black;
        border-radius: 0.5rem;
        padding-bottom: 5rem;

        @include bp(mobile) {
            width: 100%;
            display: inline-block;
        }
    }

    li {
        display: block;
        list-style: none outside;
        position: relative;
        overflow: hidden;
        transition: transform 0.9s ease-in-out;

        &:before {
            display: block;
            content: '';
            padding-top: 100%;
        }

        &:hover {
            transform: scale(1.2);
        }
    }

    a {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
    }

    img {
        display: block;
        width: 100px;
        height: auto;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.5rem;
        background: rgba(0, 0, 0, 0.8);
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        cursor: pointer;
    }

    li a .name {
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

    img:hover {
        opacity: 0.4;
    }

}
