/* ---Main Begin--- */

.site-main .main-image {
    background: url(../images/shot-by-cerqueira-XTKjhfE-Inc-unsplash.jpg) no-repeat center center;
    background-size: cover;
}

.box-in-box::after {
    content: '';
    display: block;
    width: 350px;
    height: 130px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 16rem;
    left: 47.5rem;
    z-index: -1;
    box-shadow: 10px 11px 12px -8px rgba(0,0,0,0.75);

    @include bp(mobile) {
        display: none;
    }
}

.box-in-box {
    position: relative;
    color: #fff;
    font-family: var(--font-family-headings, Georgia, sans-serif);
    font-style: italic;
    font-size: 24px;  
    padding: 16.5rem 0rem 8rem 49.5rem;
    z-index: 1;

}

.box-in-box p {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
   
    @include bp(mobile) {
        display: none;
    }
    
}

.box-in-box p {
    transform: translate(-15vw);
}


.loaded .box-in-box p {
    transform: translateX(0);
    opacity: 1;
}

/* ---Main Text Begin--- */

.main-quote {
    font-family: var(--font-family-headings, Georgia, sans-serif);
    color: black;
    font-style: italic;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.72);
    padding: 5rem 0rem 1rem 0rem;
    margin-left: 25rem;
 
    @include bp(mobile) {
        // display: inline-block;
        // text-align: center;
        // width: 50%;
        
    }
   
}

.main-text .author {
    font-family: var(--font-family-headings, Georgia, sans-serif);
    color: black;
    font-style: italic;
    font-size: 12px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.72);
    margin-left: 40rem;
    padding: 0rem 0rem 1rem 0rem;
    
    @include bp(mobile) {
        // display: inline-block;
        // text-align: center;
        
    }
}

.text-container:after {
    content:'';
    display: inline-block;
    width: 50em;
    height: 25em;
    background: url(../images/bcdf82e472a6fac9318f278130136884.png) no-repeat;
    position: absolute;
    top: 35.5rem;
    z-index: -1;  
    
    @include bp(mobile) {
        display: none;
    }

}

.text-container p {
    margin: 1.6rem 0rem 0.5rem 0rem;
    font-family: var(--font-family-main, 'Verdana', sans-serif);
    text-align: center;
}

/* ---Main Form Begin--- */

.form {
    padding: 0.2rem 0rem;
    text-align: center;
    background: rgb(69, 69, 69);
    color: #fff;

    @include bp(mobile) {
        display: block;
    }

}

.form .form-title:after {
    content: '';
    width: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    display: block;
}

.form .small-text {
    font-size: 12px;
    padding: 0.5rem 0rem;
}

.form .form-input {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 40%;
    
    @include bp(mobile) {
        flex-direction: column;
        align-items: center;
    }
    
}

.form .form-input .mail {
    background: rgb(84, 90, 94);
    border-radius: 0.3rem;
    border: none;
    flex-grow: 1;
    margin-right:0.5rem; 
    padding: 0.1rem 0.4rem;
}

.form a {
    text-decoration: none;
    color: #fff;
    background: rgb(107, 191, 255);
    border: 1px solid rgb(107, 191, 255);
    border-radius: 0.3rem;
    padding: 0.1rem 1rem;

    @include bp(mobile) {
        margin: 0.5rem;
    }
}

/* ---Main Form End--- */

/* --Footer-Begin-- */

.footer-flex {
    display: flex;
    justify-content: space-around;
    background:rgb(47, 53, 57);
    color: #fff;
    padding: 0.5rem 0rem;

    @include bp(mobile) {
        display: block;
    }
}

.first,
.second,
.third,
.last-ul {
    padding-bottom: 0.5rem;
    text-align: center;
    justify-content: center;
}

.end {
    background: rgb(38, 43, 47);
    text-align: center;
    display: block;
    color: #fff;
    padding: 0.5rem 0rem;
    font-size: 12px;
}

.site-footer li {
    list-style: none outside;
    font-size: 12px;
}

.site-footer li a {
    text-decoration: none;
    color: #fff;
}

.third .last-ul {
    display: flex;
    margin: 0.5rem;
}

.third li:nth-child(1) a i { 
    font-family:'Font Awesome 5 Brands';
    font-weight: bold;
    display: inline-block;
    padding: 0.3rem;
}

.third li:nth-child(2) a i { 
    font-family:'Font Awesome 5 Brands';
    font-weight: bold;
    display: inline-block;
    padding: 0.3rem;
}

.third li:nth-child(3) a i { 
    font-family:'Font Awesome 5 Brands';
    font-weight: bold;
    display: inline-block;
    padding: 0.3rem;
}

.third > a{
    color: #fff;
    font-size: 34px;
    transition: opacity 0.2s ease-in-out;
}

.third a:hover {
    opacity: 0.5;
}


.quick-link,
.address,
.icons {
    font-size: 18px;
}

/* --Footer-End-- */