:root {

    --font-family-main: 'Quicksands', sans-serif;
    --font-family-headings: 'Merienda One', cursive;
    --font-family-small-headings: 'Shrikhand', cursive;
    
    --font-size: 16px;
    --font-line-height: 1.5;
    
    --layout-width: 1300px;
    --methods-p-font: 14px/1.3 'Quicksands', sans-serif;
}