$breakpoints: (
  'phone':      ( max-width:  600px ),
  'tablet':     ( max-width:  900px ),
  'mobile':     ( max-width:  1024px ),
  'desktop':    ( min-width: 1025px ),
  'large':      ( min-width:  1600px )
) !default;

@mixin bp($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
      }
    }
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

.undergraduate {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    align-items: center;

    @include bp(mobile) {
        flex-direction: column;
    }

}

.picture.undergrad-img:after {
    padding-top: 65%; 
     
    @include bp(mobile) {
        display: none;
    }
}

.picture.undergrad-img img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 0%;
    transform: translateY(-50%);
    z-index: 5;

    @include bp(mobile) {
        display: none;
    }
}

.text-undergrad p {
    padding: 0.5em;
    color:  rgb(10, 53, 70);
    margin-left: 1rem;
    text-align: justify;
}

.text-undergrad:before {  
    display: block;
    content: '';
    width: 65em;
    height: 12em;
    position: absolute;
    top: 10.5%; left: 22.5%; right: 0; bottom: 0;
    background: rgb(102, 101, 100);
    box-shadow: 0 0 0 6px rgba(255,255,255,0.6) inset;
    opacity: 0.3;

    @include bp(mobile) {
        display: none;
    }
}

.undergraduate a {
    text-decoration: none;
    font: 12px/1.2 var(--font-family-headings, 'Verdana', sans-serif);
    color:  rgb(63, 44, 107);
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.undergraduate a:hover {
    transform: scale(1.1);
}

// section grid//

.grid-pictures ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include bp(mobile) {
        grid-template-columns: 1fr;
    }

    @include bp(phone) {
        grid-template-columns: 1fr;
    }

    li {
        display: block;
        list-style: none outside;
        position: relative;
        overflow: hidden;
        transition: all 0.8s ease-in-out;

        &:nth-child(1):before,
        &:nth-child(2):before,
        &:nth-child(3):before {
            display: block;
            content: '';
            justify-self: center;
            padding-top: 80%;
        }

        .undergrad-info {
            display: block;
            color: black;
            width: 300px;
            font: 12px/1.2 var(--font-family-headings, 'Verdana', sans-serif);
            padding-bottom: 1rem;
            
        }

        .undergrad-links {
            display: block;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            color: black;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }

    }

    li:hover {
        transform: scale(1.1);
    }

    img {
        display: block;
        width: 300px;
        height: auto;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.5rem;
        opacity: 1;
        transform: opacity 0.5s ease-in;
        cursor: pointer;

    }

    img:hover {
        opacity: 0.4;
    }

    .undergrad-info {
        display: block;
        color: black;
        text-align: justify;
        margin: 0 auto;
        width: 300px;
        font: 12px/1.2 var(--font-family-headings, 'Verdana', sans-serif);
        padding-bottom: 1rem;
        
    }

}