<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <title>{{ site.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Merienda+One|PT+Sans:400,700|PT+Serif:400,700|Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
        })
    </script>
    <title>
        {% if page.title != 'Home' %}
            {{ page.title }} - {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
</head>
<body class="page-{{ page.title | slugify }} ">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <div class="site">

        <header class="site-header">
                <div class="wrapper">
                    <a class="home-page" id="top" href="{{ site.baseurl }}/">Department of<span class="cursive"> Applied Geophysics</span></a>
                    <label for="nav-toggle" class="nav-toggle-label"><i class="fas fa-bars"></i></label>
                        <nav class="site-nav nav location-{{ include.location }}">
                            <ul>
                                {% assign navigation_pages = site.pages | sort: "order" %}

                                {% for current_page in navigation_pages %}
                                    
                                    {% if current_page.title %}

                                        <li class="page-title-{{ current_page.title | slugify }}{% if current_page.url == page.url %} current-page{% endif %}">
                                            <a href="{{ site.baseurl }}{{ current_page.url }}">{{ current_page.title }}</a>
                                            
                                            {% if current_page.title == 'Study' %}
                                                <ul>
                                                    <li><a href="#">Undergraduate</a></li>
                                                    <li><a href="#">Graduate</a></li>
                                                    <li><a href="#">PHD Students</a></li>
                                                </ul>
                                            {% endif %}

                                        </li>
                                    {% endif %}
                                
                                {% endfor %}

                            </ul>
                        </nav>
                </div>      
        </header>

        <main class="site-main">

            {{content}}
            
        </main>

        <footer class="site-footer">
            <div class="footer-flex">
                <div class="first">
                    <p class="quick-link">Quick Links</p>
                    
                    {% assign navigation_pages = site.pages | sort: "order" %}

                        {% for current_page in navigation_pages %}
                        
                            {% if current_page.title %}

                                <li class="page-title-{{ current_page.title | slugify }}{% if current_page.url == page.url %} current-page{% endif %}">
                                    <a href="{{ site.baseurl }}{{ current_page.url }}">{{ current_page.title }}</a>
                                </li>

                            {% endif %}
                    
                        {% endfor %}
                    
                </div>
        
                <div class="second">
                    <p class="address">Address</p>
                        <ul>
                            <li>Studentski Grad, “Prof. Boyan Kamenov” Street, Sofia 1700</li>
                            <li>applied.geophysics@mgu.com</li>
                            <li>(02) 888 834 653</li>
                        </ul>
                </div>
            
                <div class="third">
                    <p class="icons">Follow Us</p>
                        <ul class="last-ul">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fab fa-github"></i></a></li>
                        </ul>
                        <a href="#top"><i class="far fa-arrow-alt-circle-up"></i></a>
                </div>
            </div>
                <p class="end">Copyright © 2019 Applied Geophysics. All Rights Reserved. MGU</p>
        </footer>

    </div>
    
</body>
</html>